In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
usersdf = pd.read_csv('user.csv', sep=",", skiprows =[0], header = None, names=["userId", "Age", "Status", "Genre"])
placesdf = pd.read_csv('locations.csv', sep=",", skiprows =[0], header = None, names=["placeId", "Name"])
#placesdf.head()
usersdf.head()

   userId  Age Status Genre
0       1   23      S     F
1       2   19      S     F
2       3   19      S     M
3       4   19      S     F
4       5   20      S     M

In [3]:
columns = [i for i in range (1, 35)]
visiteddf = pd.DataFrame(columns=columns)
visiteddf = visiteddf.fillna(0)
visiteddf

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
Index: []

[0 rows x 34 columns]

In [4]:
with open("places_user.csv", 'r') as f:
    reader = csv.reader(f)
    places = list(reader)

In [5]:
aux = []

def getindex(list, item):
    try:
        return list.index(item)+1
    except:
        return 0
    
plist = placesdf['Name'].tolist()
for e in places:
    auxp = [getindex(plist, p) for p in e]
    aux.append(auxp)

aux2 = []
for e in aux:
    aux2.append([y for y in e if y != 0])

In [6]:
aux2[0]

[4, 5, 3, 12, 17, 20, 9, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

In [7]:
visitedmatrix = []
for user in aux2:
    visitedmatrix.append([(1 if i in user else 0) for i in range(1, 35)])

In [8]:
len(visitedmatrix[0])

34

In [9]:
visiteddf = pd.DataFrame(visitedmatrix, columns=columns)
visiteddf.head()

,1,2,3,4,5,6,7,8,9,10,...,25,26,27,28,29,30,31,32,33,34
0,0,0,1,1,1,0,0,0,1,0,...,1,1,1,1,1,1,1,1,1,1
1,1,0,1,1,0,0,1,0,1,1,...,0,0,1,1,1,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,1,1,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,1,1,0,0,0,0,1,1,...,1,0,1,1,1,1,1,1,1,1

In [10]:
import matplotlib.pyplot as plt

#places_list = placesdf['Name'].tolist()
places_list = [i for i in range(1, 35)]
visitedlist = []

for column in visiteddf:
    visitedlist.append(sum(visiteddf[column].tolist()))

index = np.arange(len(places_list))
plt.bar(index, visitedlist)
plt.xlabel('Place', fontsize=10)
plt.ylabel('Visitors', fontsize=10)
plt.xticks(index, places_list, fontsize=10, rotation=30)
plt.title('Visitantes por lugar encuesta 2019')
plt.rcParams["figure.figsize"]=20,15
plt.show()

In [11]:
with open("activities_places.csv", 'r') as f2:
    reader = csv.reader(f2)
    act_places = list(reader)
    
with open("activities_user.csv", 'r') as f3:
    reader = csv.reader(f3)
    act_users = list(reader)

In [12]:
import math
from collections import Counter

def counter_cosine_similarity(c1, c2):
    terms = set(c1).union(c2)
    dotprod = sum(c1.get(k, 0) * c2.get(k, 0) for k in terms)
    magA = math.sqrt(sum(c1.get(k, 0)**2 for k in terms))
    magB = math.sqrt(sum(c2.get(k, 0)**2 for k in terms))
    simval = dotprod / (magA * magB)
    normalized = int(round(simval*5))
    return 1 if normalized == 0 else normalized

res = counter_cosine_similarity(Counter(act_places[2]), Counter(act_users[3]))
res

2

In [13]:
idtuple = []
for entry in aux2:
    idtuple.append([(aux2.index(entry)+1, i, counter_cosine_similarity(Counter(act_users[aux2.index(entry)]), Counter(act_places[i-1]))) for i in entry])

cleandataset = []
for tup in idtuple:
    cleandataset.extend(tup)

In [14]:
df = pd.DataFrame(cleandataset, columns=['userid', 'placeid', 'rating'])
df.head(10)

   userid  placeid  rating
0       1        4       2
1       1        5       1
2       1        3       2
3       1       12       2
4       1       17       1
5       1       20       4
6       1        9       3
7       1       21       3
8       1       22       3
9       1       23       4

In [15]:
df.to_csv('cleanDS.csv', sep=',', index=False)

In [38]:
ratings_place = []
for i in range(1, 35):
    aux = df.loc[df['placeid'] == i]
    ratings_place.append(aux)
    

var = []
for dataframe in ratings_place:
    var.append(dataframe['rating'].tolist())
    
var

[[2, 2, 2, 1, 3, 1, 2, 2, 2, 3, 2, 2, 2, 1, 2, 3, 3, 3, 1, 3, 1, 2],
 [],
 [2,
  1,
  2,
  2,
  2,
  1,
  2,
  3,
  2,
  1,
  2,
  2,
  3,
  2,
  1,
  2,
  2,
  5,
  5,
  2,
  2,
  2,
  2,
  2,
  1,
  2,
  2,
  2,
  2,
  2,
  3,
  2,
  2],
 [2,
  2,
  2,
  2,
  2,
  2,
  1,
  4,
  2,
  3,
  1,
  4,
  4,
  2,
  3,
  1,
  2,
  2,
  2,
  2,
  2,
  4,
  4,
  5,
  2,
  1,
  3,
  3,
  2,
  3,
  2,
  4,
  2,
  4,
  2,
  3,
  2,
  2,
  2,
  2,
  4,
  2,
  1,
  3,
  3,
  3,
  2,
  2,
  2,
  4,
  3,
  2,
  1,
  2,
  3,
  3],
 [1,
  1,
  2,
  2,
  2,
  1,
  2,
  3,
  2,
  2,
  1,
  3,
  1,
  2,
  1,
  2,
  4,
  2,
  2,
  3,
  2,
  3,
  2,
  1,
  1,
  2,
  1,
  4,
  3,
  2,
  2,
  4,
  1,
  1,
  2,
  2,
  3,
  3,
  3,
  1,
  2,
  2,
  2,
  3,
  1,
  1,
  2,
  3],
 [2, 2, 1, 2, 3, 2, 2],
 [2,
  2,
  2,
  1,
  3,
  1,
  2,
  1,
  3,
  1,
  2,
  2,
  2,
  4,
  2,
  1,
  3,
  3,
  2,
  1,
  2,
  1,
  1,
  2,
  2,
  3,
  3,
  3],
 [2, 3, 2, 2, 3, 2, 4, 2, 3, 2, 3, 1, 2, 1, 3, 2, 2, 2, 3, 2, 2, 3, 1],
 [3,
  3,
  2,
  3,
  2,
  3,
  1,
  2,
  2,
  2,
  3,
  2,
  1,
  3,
  2,
  2,
  1,
  1,
  1,
  2,
  2,
  2,
  1,
  3,
  1,
  4,
  2,
  3,
  2,
  4,
  3,
  4,
  2,
  4,
  3,
  3,
  3,
  3,
  2,
  4,
  4,
  1],
 [1, 3, 2, 2, 3, 3, 2, 2, 2, 1, 2, 1, 2, 2, 5, 2, 2, 2, 2, 2, 2],
 [1,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  3,
  3,
  2,
  2,
  3,
  2,
  2,
  2,
  2,
  3,
  1,
  2,
  2,
  1,
  2,
  2,
  2,
  5,
  2,
  2,
  2,
  2,
  3,
  2,
  1,
  2,
  2,
  2,
  3,
  2,
  3,
  1,
  3,
  2,
  2],
 [2,
  1,
  2,
  2,
  2,
  2,
  2,
  5,
  2,
  2,
  3,
  2,
  2,
  1,
  1,
  2,
  2,
  1,
  2,
  2,
  1,
  1,
  2,
  2,
  2,
  2,
  3,
  2,
  2],
 [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 [1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2],
 [1, 2, 2, 2, 3, 2, 2, 2, 3, 2, 1, 3, 2, 1, 2, 2, 3, 2, 2, 3, 3],
 [2,
  2,
  2,
  1,
  1,
  2,
  2,
  2,
  3,
  2,
  2,
  2,
  4,
  2,
  3,
  3,
  2,
  1,
  2,
  1,
  4,
  3,
  2,
  2,
  4,
  1,
  1,
  2,
  3,
  2,
  2,
  3,
  3,
  1,
  1,
  2],
 [1,
  2,
  2,
  2,
  2,
  2,
  1,
  1,
  2,
  2,
  1,
  3,
  2,
  1,
  2,
  2,
  2,
  1,
  2,
  1,
  1,
  2,
  1,
  2,
  3,
  3,
  3,
  1,
  3,
  3,
  1,
  2,
  3],
 [2, 2, 1, 2, 3, 2, 4, 1, 1, 3, 2, 2, 1, 2, 3, 1, 3],
 [4,
  3,
  2,
  1,
  3,
  4,
  3,
  1,
  1,
  2,
  3,
  3,
  1,
  1,
  4,
  3,
  3,
  1,
  4,
  3,
  3,
  3,
  2,
  1,
  3,
  3,
  3],
 [4,
  3,
  3,
  3,
  3,
  4,
  4,
  3,
  3,
  3,
  2,
  3,
  4,
  3,
  2,
  4,
  3,
  3,
  1,
  2,
  2,
  3,
  3,
  3,
  3,
  4,
  1,
  3,
  4,
  4,
  4,
  3,
  3,
  3,
  3,
  3,
  4,
  3,
  3,
  3,
  4,
  2],
 [3,
  3,
  2,
  2,
  3,
  2,
  2,
  3,
  3,
  3,
  2,
  4,
  2,
  1,
  2,
  3,
  4,
  2,
  1,
  3,
  2,
  2,
  1,
  1,
  1,
  2,
  2,
  2,
  2,
  1,
  4,
  1,
  3,
  1,
  4,
  2,
  3,
  2,
  4,
  3,
  4,
  2,
  2,
  4,
  3,
  3,
  3,
  2,
  2,
  3,
  2,
  3,
  2,
  4,
  2,
  3,
  1],
 [3, 3, 2, 2, 2, 3, 2, 1, 1, 2, 2, 1, 3, 2, 3, 2, 4, 3, 3, 3, 2, 2],
 [4, 3, 4, 4, 3, 1, 2, 3, 3, 3, 3],
 [3, 3, 3, 3, 4, 1, 1, 3, 3, 3, 3, 1, 3, 4],
 [2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1],
 [2, 2, 1, 2, 1, 2],
 [3,
  2,
  4,
  3,
  2,
  4,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  4,
  1,
  2,
  3,
  2,
  3,
  4,
  4,
  3,
  4,
  3,
  4,
  3],
 [3,
  3,
  1,
  2,
  2,
  2,
  3,
  2,
  2,
  2,
  2,
  1,
  2,
  4,
  2,
  2,
  2,
  1,
  1,
  2,
  2,
  3,
  2,
  2,
  3,
  2,
  3,
  2,
  2,
  2,
  1,
  2,
  2,
  2,
  1],
 [3, 3, 2, 1, 2, 2, 3, 2, 2, 1, 2, 3, 1, 2, 3, 3, 2, 2],
 [3, 3, 2, 2, 3, 2, 3, 1, 3, 1],
 [4, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3],
 [4, 3, 3, 3, 3, 1, 4, 3],
 [4, 3, 4, 1, 2, 3, 3, 3, 4, 2, 3],
 [3, 2, 3, 2, 2, 3, 3, 2, 2]]

In [39]:
longest = max([len(elem) for elem in var])
longest

57

In [47]:
#a = var[0] + [1]*(57 - len(var[0]))
r_p = []
for rat in var:
    r_p.append(rat + [1]*(57 - len(rat)))

r_p

[[2,
  2,
  2,
  1,
  3,
  1,
  2,
  2,
  2,
  3,
  2,
  2,
  2,
  1,
  2,
  3,
  3,
  3,
  1,
  3,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  1,
  2,
  2,
  2,
  1,
  2,
  3,
  2,
  1,
  2,
  2,
  3,
  2,
  1,
  2,
  2,
  5,
  5,
  2,
  2,
  2,
  2,
  2,
  1,
  2,
  2,
  2,
  2,
  2,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  2,
  2,
  2,
  2,
  1,
  4,
  2,
  3,
  1,
  4,
  4,
  2,
  3,
  1,
  2,
  2,
  2,
  2,
  2,
  4,
  4,
  5,
  2,
  1,
  3,
  3,
  2,
  3,
  2,
  4,
  2,
  4,
  2,
  3,
  2,
  2,
  2,
  2,
  4,
  2,
  1,
  3,
  3,
  3,
  2,
  2,
  2,
  4,
  3,
  2,
  1,
  2,
  3,
  3,
  1],
 [1,
  1,
  2,
  2,
  2,
  1,
  2,
  3,
  2,
  2,
  1,
  3,
  1,
  2,
  1,
  2,
  4,
  2,
  2,
  3,
  2,
  3,
  2,
  1,
  1,
  2,
  1,
  4,
  3,
  2,
  2,
  4,
  1,
  1,
  2,
  2,
  3,
  3,
  3,
  1,
  2,
  2,
  2,
  3,
  1,
  1,
  2,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  1,
  2,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  2,
  1,
  3,
  1,
  2,
  1,
  3,
  1,
  2,
  2,
  2,
  4,
  2,
  1,
  3,
  3,
  2,
  1,
  2,
  1,
  1,
  2,
  2,
  3,
  3,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  3,
  2,
  2,
  3,
  2,
  4,
  2,
  3,
  2,
  3,
  1,
  2,
  1,
  3,
  2,
  2,
  2,
  3,
  2,
  2,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  3,
  2,
  3,
  2,
  3,
  1,
  2,
  2,
  2,
  3,
  2,
  1,
  3,
  2,
  2,
  1,
  1,
  1,
  2,
  2,
  2,
  1,
  3,
  1,
  4,
  2,
  3,
  2,
  4,
  3,
  4,
  2,
  4,
  3,
  3,
  3,
  3,
  2,
  4,
  4,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1,
  3,
  2,
  2,
  3,
  3,
  2,
  2,
  2,
  1,
  2,
  1,
  2,
  2,
  5,
  2,
  2,
  2,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  3,
  3,
  2,
  2,
  3,
  2,
  2,
  2,
  2,
  3,
  1,
  2,
  2,
  1,
  2,
  2,
  2,
  5,
  2,
  2,
  2,
  2,
  3,
  2,
  1,
  2,
  2,
  2,
  3,
  2,
  3,
  1,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  1,
  2,
  2,
  2,
  2,
  2,
  5,
  2,
  2,
  3,
  2,
  2,
  1,
  1,
  2,
  2,
  1,
  2,
  2,
  1,
  1,
  2,
  2,
  2,
  2,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1,
  2,
  2,
  2,
  3,
  2,
  2,
  2,
  3,
  2,
  1,
  3,
  2,
  1,
  2,
  2,
  3,
  2,
  2,
  3,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  2,
  1,
  1,
  2,
  2,
  2,
  3,
  2,
  2,
  2,
  4,
  2,
  3,
  3,
  2,
  1,
  2,
  1,
  4,
  3,
  2,
  2,
  4,
  1,
  1,
  2,
  3,
  2,
  2,
  3,
  3,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1,
  2,
  2,
  2,
  2,
  2,
  1,
  1,
  2,
  2,
  1,
  3,
  2,
  1,
  2,
  2,
  2,
  1,
  2,
  1,
  1,
  2,
  1,
  2,
  3,
  3,
  3,
  1,
  3,
  3,
  1,
  2,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  1,
  2,
  3,
  2,
  4,
  1,
  1,
  3,
  2,
  2,
  1,
  2,
  3,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [4,
  3,
  2,
  1,
  3,
  4,
  3,
  1,
  1,
  2,
  3,
  3,
  1,
  1,
  4,
  3,
  3,
  1,
  4,
  3,
  3,
  3,
  2,
  1,
  3,
  3,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [4,
  3,
  3,
  3,
  3,
  4,
  4,
  3,
  3,
  3,
  2,
  3,
  4,
  3,
  2,
  4,
  3,
  3,
  1,
  2,
  2,
  3,
  3,
  3,
  3,
  4,
  1,
  3,
  4,
  4,
  4,
  3,
  3,
  3,
  3,
  3,
  4,
  3,
  3,
  3,
  4,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  3,
  2,
  2,
  3,
  2,
  2,
  3,
  3,
  3,
  2,
  4,
  2,
  1,
  2,
  3,
  4,
  2,
  1,
  3,
  2,
  2,
  1,
  1,
  1,
  2,
  2,
  2,
  2,
  1,
  4,
  1,
  3,
  1,
  4,
  2,
  3,
  2,
  4,
  3,
  4,
  2,
  2,
  4,
  3,
  3,
  3,
  2,
  2,
  3,
  2,
  3,
  2,
  4,
  2,
  3,
  1],
 [3,
  3,
  2,
  2,
  2,
  3,
  2,
  1,
  1,
  2,
  2,
  1,
  3,
  2,
  3,
  2,
  4,
  3,
  3,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [4,
  3,
  4,
  4,
  3,
  1,
  2,
  3,
  3,
  3,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  3,
  3,
  3,
  4,
  1,
  1,
  3,
  3,
  3,
  3,
  1,
  3,
  4,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [2,
  2,
  1,
  2,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  2,
  4,
  3,
  2,
  4,
  3,
  3,
  3,
  2,
  3,
  2,
  3,
  4,
  1,
  2,
  3,
  2,
  3,
  4,
  4,
  3,
  4,
  3,
  4,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  3,
  1,
  2,
  2,
  2,
  3,
  2,
  2,
  2,
  2,
  1,
  2,
  4,
  2,
  2,
  2,
  1,
  1,
  2,
  2,
  3,
  2,
  2,
  3,
  2,
  3,
  2,
  2,
  2,
  1,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  3,
  2,
  1,
  2,
  2,
  3,
  2,
  2,
  1,
  2,
  3,
  1,
  2,
  3,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  3,
  2,
  2,
  3,
  2,
  3,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [4,
  3,
  3,
  3,
  1,
  1,
  3,
  3,
  3,
  3,
  3,
  4,
  3,
  3,
  3,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [4,
  3,
  3,
  3,
  3,
  1,
  4,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [4,
  3,
  4,
  1,
  2,
  3,
  3,
  3,
  4,
  2,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [3,
  2,
  3,
  2,
  2,
  3,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1]]

In [48]:
rat_p = pd.DataFrame(r_p)
rat_p

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,2,2,2,1,3,1,2,2,2,3,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,2,1,2,2,2,1,2,3,2,1,...,1,1,1,1,1,1,1,1,1,1
3,2,2,2,2,2,2,1,4,2,3,...,2,2,4,3,2,1,2,3,3,1
4,1,1,2,2,2,1,2,3,2,2,...,3,1,1,1,1,1,1,1,1,1
5,2,2,1,2,3,2,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6,2,2,2,1,3,1,2,1,3,1,...,1,1,1,1,1,1,1,1,1,1
7,2,3,2,2,3,2,4,2,3,2,...,1,1,1,1,1,1,1,1,1,1
8,3,3,2,3,2,3,1,2,2,2,...,1,1,1,1,1,1,1,1,1,1
9,1,3,2,2,3,3,2,2,2,1,...,1,1,1,1,1,1,1,1,1,1
10,1,2,2,2,2,2,2,2,3,3,...,1,1,1,1,1,1,1,1,1,1
11,2,1,2,2,2,2,2,5,2,2,...,1,1,1,1,1,1,1,1,1,1
12,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
13,1,2,2,2,2,2,2,2,1,2,...,1,1,1,1,1,1,1,1,1,1
14,1,2,2,2,3,2,2,2,3,2,...,1,1,1,1,1,1,1,1,1,1
15,2,2,2,1,1,2,2,2,3,2,...,1,1,1,1,1,1,1,1,1,1
16,1,2,2,2,2,2,1,1,2,2,...,1,1,1,1,1,1,1,1,1,1
17,2,2,1,2,3,2,4,1,1,3,...,1,1,1,1,1,1,1,1,1,1
18,4,3,2,1,3,4,3,1,1,2,...,1,1,1,1,1,1,1,1,1,1
19,4,3,3,3,3,4,4,3,3,3,...,1,1,1,1,1,1,1,1,1,1
20,3,3,2,2,3,2,2,3,3,3,...,2,2,3,2,3,2,4,2,3,1
21,3,3,2,2,2,3,2,1,1,2,...,1,1,1,1,1,1,1,1,1,1
22,4,3,4,4,3,1,2,3,3,3,...,1,1,1,1,1,1,1,1,1,1
23,3,3,3,3,4,1,1,3,3,3,...,1,1,1,1,1,1,1,1,1,1
24,2,2,1,1,2,1,1,1,1,2,...,1,1,1,1,1,1,1,1,1,1
25,2,2,1,2,1,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
26,3,2,4,3,2,4,3,3,3,2,...,1,1,1,1,1,1,1,1,1,1
27,3,3,1,2,2,2,3,2,2,2,...,1,1,1,1,1,1,1,1,1,1
28,3,3,2,1,2,2,3,2,2,1,...,1,1,1,1,1,1,1,1,1,1
29,3,3,2,2,3,2,3,1,3,1,...,1,1,1,1,1,1,1,1,1,1
30,4,3,3,3,1,1,3,3,3,3,...,1,1,1,1,1,1,1,1,1,1
31,4,3,3,3,3,1,4,3,1,1,...,1,1,1,1,1,1,1,1,1,1
32,4,3,4,1,2,3,3,3,4,2,...,1,1,1,1,1,1,1,1,1,1
33,3,2,3,2,2,3,3,2,2,1,...,1,1,1,1,1,1,1,1,1,1

In [49]:
rat_p.to_csv('ratings_place.csv', sep=',', index=False)